target/
.idea/
.vscode/
*.iml
*.class
*.log
.DS_Store
*.db
*.bak
*.swp
*.swo
*.tmp
/.env
/.settings/
/.classpath
/.project
*.md
src/main/resources/application.properties
src/main/resources/application.yml
src/test/

# *.sql
*.pdf
docs
# bancodedados